[tool.poetry]
name = "orm-snippet"
version = "0.1.0"
description = ""
authors = ["uuip <uuip@users.noreply.github.com>"]
readme = "README.md"
package-mode = false

[[tool.poetry.source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"
priority = "primary"

[tool.poetry.dependencies]
python = "^3.12"
setuptools = "*"
wheel = "*"

tzdata = { version = ">=2024.1", markers = "platform_system == 'Windows'" }
arrow = "^1.3.0"

sqlalchemy = { extras = ["asyncio"], version = "^2.0.29" }
psycopg = { extras = ["binary", "pool"], version = "^3.1.18" }
pydantic = "^2.7.0"
pydantic-settings = "^2.2.1"
asyncpg = "^0.29.0"
sqlacodegen = { git = "https://github.com/agronholm/sqlacodegen.git" }
mimesis = "^16.0.0"
pandas = "^2.2.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
