[project]
name = "orm-note"
version = "0.1.0"
description = ""
authors = [
    {name = "uuip",email = "uuip@users.noreply.github.com"}
]
readme = "README.md"
requires-python = ">=3.13,<4"
dependencies = [
    "sqlalchemy (>=2.0.39,<3.0.0)",
    "psycopg[binary,pool] (>=3.2.6,<4.0.0)",
    "pydantic (>=2.10.6,<3.0.0)",
    "pydantic-settings (>=2.8.1,<3.0.0)",
    "pyyaml (>=6.0.2,<7.0.0)",
    "asyncpg (>=0.30.0,<0.31.0)",
    "sqlacodegen (>=3.0.0,<4.0.0)",
    "pandas (>=2.2.3,<3.0.0)",
    "mimesis (>=18.0.0,<19.0.0)",
    "factory-boy (>=3.3.3,<4.0.0)"
]

